################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Csharp_StopwatchHandler/bin/Debug/netcoreapp3.1
/Csharp_StopwatchHandler/obj
